@tailwind base;
@tailwind components;
@tailwind utilities;

* {
      user-select: none;

}

:root {
      --background: #0b0c10;
      --backgroundLight: #161820;
      --foreground: #f2f2f2;
      --purple: #2c0735;
      --dusty: #755c48;
      --gold: #ffc857;
      --teal: #118ab2;
      --green: #66ff66;
      --red: #ff4444;
      --orange: #f45d22;
      --blue: #a2e8ff;
      --gray: #737373;
}

body {
      color: var(--foreground);
      background: var(--background);
      font-family: monospace;
      height: 100vh;
      text-transform: uppercase;
      overflow: hidden;
}

.detail-stat {
      @apply py-2 border-b border-dashed border-gray;
}

.planet-container {
      @apply flex min-h-[200px] w-full items-center justify-center;
}

@keyframes event {
      0% {
            background-color: #66ff66;
      }
      100% {
            background-color: transparent;
      }
}

@keyframes no-event {
      0% {
            background-color: #755c48;
      }
      100% {
            background-color: transparent;
      }
}

.footer  {
      @apply flex flex-col fixed bottom-0 w-full left-0;
}

.menu-item {
      @apply p-8 hover:text-blue hover:cursor-pointer;
}

.menu-item-link {
      @apply block w-full h-full;
}