@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid brown; */
}

:root {
  --background: #0B0C10;
  --foreground: #F2F2F2;
  --purple: #2C0735;
  --dusty: #755C48;
  --gold: #FFC857;
  --teal: #118AB2;
  --green: #66FF66;
  --red: #FF4444;
  --orange: #F45D22;
  --blue: #A2E8FF;
  --gray: #737373;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  height: 100vh;
  text-transform: uppercase;
}

.detail-stat {
  @apply py-2 border-b border-dashed border-gray;
}

@keyframes event {
  0% {
    background-color: #66FF66;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes no-event {
  0% {
    background-color: #755C48;
  }
  100% {
    background-color: transparent;
  }
}

.event-anim {

}

.no-event-anim {

}